####################################################
# IntelliJ IDEA
####################################################

.idea/
*.iml

####################################################
# Maven
####################################################

target/

####################################################
# Logs
####################################################

*.log

####################################################
# Configurações locais
####################################################

src/main/resources/application-local.properties

####################################################
# Variáveis de ambiente
####################################################

.env
.env.*

####################################################
# Java
####################################################

hs_err_pid*
replay_pid*

####################################################
# Sistemas Operacionais
####################################################

.DS_Store
Thumbs.db

####################################################
# Editores
####################################################

.vscode/
.settings/
.project
.classpath
nbproject/

####################################################
# Arquivos temporários
####################################################

*.tmp
*.temp
*.swp
*.bak
*.old

####################################################
# Certificados
####################################################

*.pem
*.crt
*.key